[submodule "third_party/cmsis_core"]
	path = third_party/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
	shallow = true
[submodule "third_party/cmsis_device_f7"]
	path = third_party/cmsis_device_f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
	shallow = true
[submodule "third_party/stm32f7xx_hal_driver"]
	path = third_party/stm32f7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
	shallow = true
[submodule "third_party/cmsis_device_g4"]
	path = third_party/cmsis_device_g4
	url = https://github.com/STMicroelectronics/cmsis_device_g4.git
	shallow = true
[submodule "third_party/stm32g4xx_hal_driver"]
	path = third_party/stm32g4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
	shallow = true
[submodule "third_party/lwip"]
	path = third_party/lwip
	url = https://github.com/lwip-tcpip/lwip.git
	shallow = true
